

$arvo: "Arvo","Helvetica", serif;
$opensans: "Open Sans", "Helvetica",sans-serif;
$red: #f24a57;

* {
  margin: 0px;
  padding: 0px; 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


a { color: #999; }

h1, h2, h3, h4, h5, h6 { font-family: $arvo; font-weight: normal; }

body {
  background: #151515 url(images/wood.png) top center no-repeat;
  height: 100%;
  font-family: $opensans;
  text-rendering: optimizeLegibility; }

#container {
  width: 960px;
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto -50px; }

#header {
  padding: 25px 0px 15px 0px;
  width: 960px;
  border-bottom: 1px solid #414141;
  overflow: hidden; }

#logo {
  // background: url(images/logo.png);
  width: 220px;
  height: 29px;
  float: left; }

#menu {
  float: right;
  list-style-type: none;
  li {
    float: left;
    a {
      margin: 10px;
      display: block;
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      height: 25px;
      &:hover {
        color: #f44458;
        text-decoration: underline; }
      &.active {
        color: #f44458; } } } }

#hello {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #414141; }

#hello-page {
  width: 100%;
  border-top: 1px solid #000; }

#hello h1 {
  text-indent: -9999px;
  background: url(images/hello.png);
  width: 578px;
  height: 121px;
  margin: 45px 0px; }

/*** Content Area ***/

#content {
  border-bottom: 1px solid #414141;
  margin-bottom: 30px;
  font-size: 12px;
  color: #555;
  line-height: 18px;
  h2 {} }

/*** Columns ***/

#left, #right {
  float: left;
  padding-top: 30px; }

#left {
  width: 50%; }

#right {
  width: 50%;
  position: relative; }

#page-left {
  width: 650px;
  float: left;
  margin-right: 30px; }

#page-right {
  width: 250px;
  float: left;
  padding-left: 10px; }

#page-left {
  p {
    margin-bottom: 25px; }
  h3 a {
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
    display: block;
    &:hover {
      text-decoration: underline; } } 
  ol { font-size: 14px; margin: 10px 0 10px 20px; 
    li { margin-bottom: 5px; } } 
  h2 { color: #fff; font-size: 28px; margin: 0px 0 15px 0; line-height: 30px;}   
  pre { background: #333; color: #ddd; padding: 20px; margin: 20px 0; overflow: scroll;}
}

#site-info {
  clear: both;
  margin-bottom: 20px;
  overflow: hidden;
  h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px; }
  .content ul {
    color: #555;
    font-size: 12px;
    line-height: 18px;
    li {
      margin-bottom: 10px; 
	  font-size: 13px;						} } }

#block-block-3 a {
  padding-left: 28px; }

a {
  &.twitter {
    color: #33cbfe;
    background: url(images/icon-sprite.png) no-repeat;
    height: 16px; }
  &.stumble {
    color: #4fb667;
    background: url(images/icon-sprite.png) 0px -17px no-repeat;
    height: 16px; }
  &.linkedin {
    color: #3585a4;
    background: url(images/icon-sprite.png) 0px -34px no-repeat;
    height: 16px; }
  &.threestyles {
    color: #ff7f2a;
    background: url(images/icon-sprite.png) 0px -51px no-repeat;
    height: 16px; } }

#site-info .content {
  p {
    color: #555;
    font-size: 14px;
    line-height: 18px; }
  a {
    margin-top: 15px;
    display: block;
    font-size: 12px; } }

#col1, #col2, #col3 {
  min-height: 170px; }

#col1 {
  width: 31%;
  margin-right: 25px;
  float: left;
  border-right: 1px solid #444;
  .content ul li {
    background: url(images/check.png) no-repeat;
    list-style-type: none;
    padding-left: 30px; } }

#col2 {
  width: 45%;
  padding-right: 20px;
  float: left;
  border-right: 1px solid #444; }

#col3 {
  width: 21%;
  float: left;
  padding-left: 20px;
  .content ul li {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    line-height: 11px;
    list-style-type: none; } }

#ipad {
  width: 448px;
  height: 507px;
  background: url(images/ipad.png);
  position: relative;
  z-index: -1;
  margin: 0px 0px 0px 50px; }

#right #ipadcontent {
  width: 307px;
  height: 410px;
  position: absolute;
  top: 80px;
  left: 118px;
  img {
    position: relative;
    z-index: -3!important; } }

.view-recent-projects {
  .views-row {
    line-height: 18px;
    border-bottom: 1px solid #414141;
    overflow: hidden;
    padding-bottom: 30px;
    margin-bottom: 30px; }
  .views-row-last {
    border-bottom: 0px; }
  .views-row {
    img {
      float: left;
      margin-right: 20px; }
    .views-field-title a {
      color: #ececec;
      margin-bottom: 10px;
      font-weight: normal;
      font-size: 17px;
      display: block;
      text-decoration: none; }
    p {
      color: #555;
      font-size: 13px;
 	line-height: 17px;}
    span {
      color: $red;
      font-size: 11px; } } }

.views-field-title { font-family: $arvo; }

.views-field-view-node a {
  background-color: $red;
  -webkit-box-shadow: 0 1px 0 0 #e87982 inset, 0 1px 5px 0 #222;
  color: #fff;
  padding: 3px 7px;
  -webkit-border-radius: 3px;
  margin-top: 10px;
  display: block;
  float: left;
  text-decoration: none;
  text-shadow: #ad2832 0 1px 1px;
  border-top: 1px solid #c33944;
  border-left: 1px solid #c33944;
  border-right: 1px solid #c33944;
  border-bottom: 1px solid #87242c;
  &:hover {
    background: #d7404c;
  } }

#page-left .work-more { margin: 20px 0 }

.work-more a {
  background-color: $red;
  -webkit-box-shadow: 0 1px 0 0 #e87982 inset, 0 1px 5px 0 #222;
  color: #fff;
  padding: 3px 7px;
  -webkit-border-radius: 3px;
  margin-top: 10px;
  display: block;
  text-decoration: none;
  text-shadow: #ad2832 0 1px 1px;
  border-top: 1px solid #c33944;
  border-left: 1px solid #c33944;
  border-right: 1px solid #c33944;
  border-bottom: 1px solid #87242c;
  overflow: hidden;
  width: 115px;
  text-align: center;
  &:hover {
    background-color: #d7404c;
    -webkit-box-shadow: 0 1px 0 0 #c8616a inset, 0 1px 5px 0 #222;
    text-shadow: #ad2832 0 1px 1px;
    border-top: 1px solid #c33944;
    border-left: 1px solid #c33944;
    border-right: 1px solid #c33944;
    border-bottom: 1px solid #87242c; } }

#block-views-recent_projects-block_1 img {
  border: 1px solid #2f2f2f;
  padding: 7px;
  background: #222; }

/*** WORK PAGE STYLES ***/

.view-id-Work .project {
  width: 960px;
  font-size: 12px;
  line-height: 18px;
  padding: 50px 0px 60px 0px;
  border-bottom: 10px solid #222;
  position: relative;
  img {
    float: left;
    margin-right: 30px;
    /*border: 5px solid #333;*/ } }

.view-taxonomy-listing img {
  float: left;
  margin-right: 30px;
  border: 5px solid #aaa; }

.view-id-Work .project {
  &.views-row-first {
    border-top: 0px;
    padding-top: 10px; }
  &.views-row-last {
    margin-bottom: 30px;
    border-bottom: none; } }

.homescreen {
  float: left;
  margin-right: 40px;
  border: 1px solid #2f2f2f;
  padding: 7px;
  background: #222; }

.work-title a {
  color: #ececec;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 29px;
  display: block;
  text-decoration: none; }

#page-left .work-teaser p {
  color: #555;
  margin-bottom: 5px; }

.page-work #page-left, .page-taxonomy #page-left, .node-type-webform #page-left {
  width: 960px; }

.page-work #page-right, .page-taxonomy #page-right {
  display: none; }

#page-what-i-offer #content, #page-web-design-and-development #content, #page-logo-design #content {
  margin: 30px 0px; }

#page-request-free-quote {
  #content {
    margin: 30px 0px; }
  #page-right {
    display: none; } }

.node-type-case-study {
  #page-right {
    display: none; }
  #page-left {
    width: 960px;
    margin-right: 0px; } }

#page-request-free-quote #page-left {
  width: 960px;
  margin-right: 0px; }

/*** CASE STUDY STYLES ***/

#screenshots {
  width: 650px;
  float: left;
  padding-bottom: 30px; }

#work-info {
  width: 280px;
  float: left;
  padding-left: 30px;
  padding-bottom: 30px; }

#page-title {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #414141;
  margin-bottom: 30px;
  &.work {
    font-size: 25px;
    color: $red;
    padding: 7px 7px; } }

#page-left .view-Work p {
  margin-bottom: 5px; }

.view-Work {
  .item-list ul {}
  .work-taxonomy ul {
    margin: 20px 0px;
    overflow: hidden;
    li {
      padding: 0px;
      margin: 5px 0;
      float: left;
      list-style: none;
      a {
        color: #626262;
        text-decoration: none;
        padding: 5px 15px;
        border-radius: 20px;
        display: block;
        margin-right: 10px;
        background-color: #252525;
        -webkit-transition: All .25s ease-in-out;
        -moz-transition: All .25s ease-in-out; }
      &:hover a {
        background: $red;
        color: #fff; } } }
  p {
    font-size: 14px;
    line-height: 20px; } }

.work-info {
  p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #666; }
  .pane-node-title .pane-content {
    color: #fff;
    font-size: 25px;
    margin-bottom: 7px;
    line-height: 29px; } }

.pane-node-title { font-family: $arvo; }

.panels-flexible-case_study_layout .pane-node-field-site-url a {
  background-color: $red;
  -webkit-box-shadow: 0 1px 0 0 #e87982 inset, 0 1px 5px 0 #222;
  color: #fff;
  padding: 7px 20px;
  -webkit-border-radius: 3px;
  margin: 20px 0px 20px 0px;
  font-size: 16px;
  display: block;
  float: left;
  clear:both;
  text-decoration: none;
  text-shadow: #ad2832 0 1px 1px;
  border-top: 1px solid #c33944;
  border-left: 1px solid #c33944;
  border-right: 1px solid #c33944;
  border-bottom: 1px solid #87242c; }

#tothetop a { 
  background-color: $red;
  -webkit-box-shadow: 0 1px 0 0 #e87982 inset, 0 1px 5px 0 #222;
  color: #fff;
  padding: 7px 20px;
  -webkit-border-radius: 3px;
  margin: 10px 0px 50px 0px;
  font-size: 16px;
  display: block;
  float: left;
  text-decoration: none;
  text-shadow: #ad2832 0 1px 1px;
  border-top: 1px solid #c33944;
  border-left: 1px solid #c33944;
  border-right: 1px solid #c33944;
  border-bottom: 1px solid #87242c;
}

.screenshots img {
  display: block;
  margin-bottom: 50px; }

#screenshots {
  img {
    margin-bottom: 5px; }
  p {
    margin-bottom: 50px;
    font-family: arial,sans-serif;
    font-size: 14px;
    color: #555; } }

#tothetop a {
  font-family: arial,sans-serif; }

.page-taxonomy .view-taxonomy-listing .views-row {
  overflow: hidden;
  line-height: 18px;
  padding: 50px 0px 60px 0px;
  border-bottom: 10px solid #222;
  position: relative; }

.pane-title {
  font-size: 25px;
  color: $red;
  padding: 20px 7px;
  border-bottom: 1px solid #414141;
  margin-bottom: 30px;
  width: 100%; }

#page-left .view-taxonomy-listing .view-header p, #featuredp, .view-blog .view-header p {
  font-size: 17px;
  line-height: 25px;
  color: #fff;
  border-bottom: 10px solid #222;
  padding: 0px 7px 30px 7px;
  margin-bottom: 0px; }

.view-blog .view-header a { color: #33cbfe; text-decoration: none;}
.view-blog p, .node-blog p { font-size: 16px; line-height: 22px; }
.node-blog h3 {
  color: #999;
  font-size: 22px;
  line-height: 27px;
  margin-top: 40px;
}
/*** Footer ***/

#footer {
  width: 100%;
  background: #000;
  margin-top: 25px;
  border-top: 1px solid #1e1e1e;
  height: 50px;
  clear: both; }

.push {
  height: 50px;
  clear: both; }

#copyright {
  font-family: arial;
  width: 960px;
  margin: 0px auto;
  padding: 20px 0px;
  color: #333;
  font-size: 10px;
  line-height: 50px; }

/*** Forms Styles ***/

#node-5 .content {
  width: 600px;
  p {
    margin-bottom: 15px; } }

#webform-client-form-5 {
  background: #222;
  padding: 20px;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  .form-item {
    float: left;
    margin: 0px; }
  textarea {
    width: 530px;
    height: 150px;
    background: #181818;
    border: 1px solid #181818;
    outline: none;
    color: #ececec;
    padding: 7px; }
  input {
    width: 250px;
    padding: 7px;
    background: #181818;
    border: 1px solid #181818;
    outline: none;
    color: #ececec; } }

#webform-component-comment #edit-submitted-comment-wrapper {
  margin-top: 20px; }

.webform-component-file {
  clear: both;
  margin-top: 20px;
  input, label {
    float: left;
    background: transparent;
    margin-top: 20px; }
  input {
    margin-top: 15px; }
  label {
    margin-top: 22px; } }

.form-file {
  background: transparent;
  border: 0px;
  margin-bottom: 20px; }

#webform-client-form-5 .form-submit {
  clear: both;
  width: 167px;
  height: 40px;
  padding: 6px;
  float: none;
  display: block;
  background: url(images/btn.png) no-repeat;
  border: 0px;
  text-indent: -9999px;
  margin-top: 30px; }

.webform-component-textfield, #edit-submitted-name {
  margin-right: 20px; }

.submitted {
  display: none; }

#webform-client-form-7 {
  background: #222;
  padding: 20px;
  overflow: hidden;
  margin-top: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  .form-item {
    float: left;
    margin: 0px; }
  textarea {
    width: 530px;
    height: 150px;
    background: #181818;
    border: 1px solid #181818;
    outline: none;
    color: #ececec;
    padding: 7px; }
  input {
    width: 250px;
    padding: 7px;
    background: #181818;
    border: 1px solid #181818;
    outline: none;
    color: #ececec; }
  .form-submit {
    clear: both;
    width: 167px;
    height: 40px;
    padding: 6px;
    float: none;
    display: block;
    background: url(images/btn.png) no-repeat;
    border: 0px;
    text-indent: -9999px;
    margin-top: 30px; } }

#webform-client-form-8 {
  margin-top: 40px;
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: relative;
  .form-item .form-item {
    margin: 0px; }
  textarea {
    width: 600px;
    height: 150px;
    background: #222;
    border: 1px solid #2e2e2e;
    outline: none;
    color: #ececec;
    padding: 15px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
    font-family: $arvo; }
  input {
    width: 600px;
    padding: 20px 10px;
    background: #222;
    border: 1px solid #2e2e2e;
    outline: none;
    color: #ececec;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
    -webkit-transition: all .25s;
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
    font-family: $arvo;
    &[type=text]:hover {
      background: #333;
      border: 1px solid #3e3e3e;
      color: #fff; } }
  select {
    margin-bottom: 15px; }
  .form-submit {
    clear: both;
    width: 167px;
    height: 40px;
    padding: 6px;
    float: none;
    display: block;
    background: url(images/btn.png) no-repeat;
    border: 0px;
    text-indent: -9999px;
    margin-top: 30px; }
  .form-checkbox {
    width: 20px;
    display: none; }
  label {
    margin-bottom: 5px;
    color: #aaa;
    font-size: 16px;
    font-weight: normal;
     }
  #webform-component-project_budget label {
    display: block;
    font-size: 20px; }
  .form-checkboxes label {
    display: block;
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: all .25s; }
  .first-label {
    background: $red;
    color: #fff;
    font-size: 22px;
    text-shadow: #b83742 1px 1px 1px; }
  .form-item input.error {
    background: $red;
    color: #fff;
    border: 1px solid #fd4d5b; }
  div.error {
    width: 300px;
    padding: 10px;
    background: $red;
    color: #fff;
    margin-bottom: 20px;
    ul {
      list-style-type: none; } } }

.form-required {
  color: $red; }


#ptype {
  position: absolute;
  top:0px;
  right: 0px; 
}

.fixed {
  position: fixed;
  top: 0px;
}

#webform-component-select-project-type {
  label {
    display: block;
    margin: 0px;
    padding: 20px; } 
  background: #222;
  border: 1px solid #2e2e2e;
  width: 312px;
  margin-bottom: 20px;
  .form-checkboxes div {
    border-bottom: 1px solid #2e2e2e;
    border-top: 1px solid #000;
    	/*-webkit-transition-property:color, background;  
     -webkit-transition-duration: .25s, .25s; */
    -moz-transition: all .25s;
    font-size: 20px;
    font-family: $arvo; } }

#webform-component-select_project_type label {}

#webform-component-select-project-type {
  .form-checkboxes {
    input {
      margin: 0px;
      padding: 0px; }
    margin: 0px;
    padding: 0px; }
  div.parent {
    background: #bee5c6 url(images/check.png) 280px 20px no-repeat ;
    color: #667b6a;
    text-shadow: #e7f8eb 1px 1px 1px;
    label {
      text-shadow: none; } } }

/*** SIDEBAR RSS BLOCK ***/

#block-aggregator-feed-1 {
  h2 {
    display: block;
    color: #fff; }
  ul li {
    list-style-type: none;
    margin: 0px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #333;
    a {
      color: #666;
      text-decoration: none;
      &:hover {
        color: $red; } } }
  .more-link a {
    background: $red;
    color: #fff;
    display: block;
    padding: 5px 10px 7px 10px; } }


.panel-pane.pane-node-terms {
  clear: both;
    li {
        padding: 0px;
        margin: 0px;
        float: left;
        list-style: none;
        a {
          color: #626262;
          text-decoration: none;
          padding: 5px 15px;
          border-radius: 20px;
          display: block;
          margin: 0px 10px 10px 0px;
          background-color: #252525;
          -webkit-transition: All .25s ease-in-out;
          -moz-transition: All .25s ease-in-out; }
        &:hover a {
          background: $red;
          color: #fff; } }
  & h2 { 
    padding-left: 0px;
    font-size: 20px;
    margin-bottom: 20px;
      }        
}

/**** BLOG STYLES ****/

.field-name-field-featured-blog-image {
  margin: 20px 0;
}

#page-left .blog-title { margin: 0 0 25px 0; line-height: 28px; }
.blog-title a { text-decoration: none; }

.post-teaser {
  padding: 30px 0;
}

.twitter-share-button, .fb-like { float: left; }
.social { overflow: hidden; }
#___plusone_0 { position: relative; left: 20px;}

#disqus_thread { padding: 15px; background: #222; margin: 30px 0; border-radius: 10px;}
#page-left .demo { overflow: hidden;
  & > li { float: left; margin-right: 20px;}
}



/**** MEDIA QUERIES *****/


/**** MESSAGES ****/

.messages.error {
  background-color: $red;
  label {
    color: #fff }

}



/*** System CSS Overrides ***/

.block ul {
  margin: 0px;
  padding: 0px; }

p { color: #555; font-size:14px; line-height:20px;  }

#node-form, #content-field-edit-form, #views-ui-add-form {
  background: #fff; }

// : {
//   &:selection, &:-moz-selection {
//     background: #F44458;
//     color: #fff; } }
