@media screen and (max-width: 600px) {

	*{
			 margin: 0px; padding: 0px;	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		}
		#container {
			width: 100%;
			padding: 20px;
		}
		
		#content {
			margin-bottom: 0px;
		}
	
		#header {
			width:100%;
			padding: 0px;
		}
		
		#main-menu { float: none; padding: 0px 0px;
		}
		#menu {float: none;padding: 20px 0px 13px 0px; }
		#menu li a {
			padding: 0px;
			margin: 0px 10px 0px 0px;
		}
		#hello {
			display: block;
			width: 100%;
			padding: 20px 0px;
		}
		
		#hello h1 {
			text-indent: 0px;
			width: auto;
			height: auto;
			margin: 0px;
			background: none;
			color: #f44454;
			font-size: 17px;
			line-height: 22px;
			font-weight: bold;
		}
		
		#logo {
			float: none;
			display: block;
		}
		
		#left {
			width: 100%;
		}
		
		#right {
			display: none;
		}
		
		#col1 {
			width: 100%;
			border-right: 0px;
		}
		#col2 {
			width: 100%;
			border-right: 0px;
		}
		
		#col3 {
			width: 100%;
		}
		
		#col1, #col2, #col3 {
			padding: 20px 0px;
			border-bottom: 1px solid #333;
		}
		
		#ipad, #ipadcontent {
			display: none;
		}
		
		#copyright {
			width: 100%;
		}
		
		.view-recent-projects .views-row img {
			height: auto;
			max-width: 100%;
			margin-bottom: 20px;
		}
		
		.view-recent-projects .views-row .views-field-title {
			clear: both;
			margin-top: 20px;
		}
		
		.panels-flexible-region {
			clear: both;
			
		}
		
		.panels-flexible-region img {
			height: auto!important;
			max-width: 100%;
		}
		
		.panels-flexible-region-case_study_layout-screenshots {
			width: 100%;
		}
		
		.panels-flexible-region-case_study_layout-center {
			width: 100%;
		}
		
		.node-type-case-study #page-left {
		width: 100%;
		margin-right: 0px;
		}
		
		.work-title {
			clear: both;
			line-height: 31px;
		}
		
		.page-work #page-left, .page-taxonomy #page-left {
		width: 100%;
		}

		#page-left, .node-type-blog #page-left, .page-blog #page-left { width: 100%; margin-right: 0px; }
		
		.view-id-Work .project {
			width: 100%;
		}		
		
		img {
			height: auto;
			max-width: 100%;
		}
		
		.view-id-Work .project img, .view-taxonomy-listing img {
			margin-bottom: 20px;
		}
		
		.view-Work .work-taxonomy ul li {
			margin-bottom: 10px;
		}
		
		#webform-client-form-8 input {
			width: 100%;
		
		}
		
		.page-node-8 #page-left {
			width: 100%;
		}
		
		#webform-client-form-8 textarea {
		width: 100%;
		height: auto;
		}
		
		#webform-component-select-project-type {
			width: 100%;
		}
		
		.webform-component-textfield, #edit-submitted-name {
		margin-right: 0px;
		}
		
		
		#footer {
			padding: 0px 20px;
		}
		
}

@media screen and (min-width: 1300px) {

	#container { width: 1100px; }
	#header { width: 100%; }
	#content #page-left { width: 100% }


	.panels-flexible-region-case_study_layout-center { width: 38%; }
	.panels-flexible-region-case_study_layout-screenshots { width: 62%; }
	.view-id-Work .project { width: 100%; }

	.page-blog #content #page-left, .node-type-blog #content #page-left { }

	#copyright { width: 1100px; }
}

header.animated {
	-webkit-animation-duration: 0.2s;

	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

#hello.animated {
	-webkit-animation-duration: 1s;

	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

#content.animated {
	-webkit-animation-duration: 1s;

	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	-ms-animation-delay: 0.8s;
	-o-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
